[Unit]
Description=Webhook Handler
After=network.target

[Service]
User=romaerror5
WorkingDirectory=/home/romaerror5/Desktop/devops/webhook-handler
ExecStart=/usr/bin/python3 /home/romaerror5/Desktop/devops/webhook-handler/webhook.py
Restart=always

[Install]
WantedBy=multi-user.target